# Cube-generated stuff
build/
Src/*
Inc/*
Drivers/*
Makefile
startup_*.s
*.ld

# clock_test binary
clock_test/clock_test

#Actual project files
!Src/msm_rtc.c
!Src/main.c
!Inc/msm_rtc.h

#VSCode temp files
SYMBOLS.DB

pcb/stm_rtc/routing/
pcb/panel/
pcb/*.png
